body{
     margin:0px;
} 
.containerindex{
                display:grid;
                grid: template columns 1fr;
}
.first{
       display:flex;
       justify-content:space-between;
       padding:35px
}
.leftside{
           display:flex;

}
.first >.leftside>div{
    margin-right:20px;
    font-size:0.9em;
    text-transform:uppercase; 

}
.nav-link{
        height:20px;
        border-bottom: 1px solid transparent;
        transition:border-bottom 0.5s;
}
.nav-link a{
           color:#8a8a8a;
           text-decoration:none;
           transition: color 0.5s;
}
.nav:hover{
          border-bottom:1px solid black
}
.nav a:hover{
            color:black;

}
/* .gridrow{
       width:400px;
       height:300px;
       display:flex;
       flex-wrap:wrap;
       flex-direction:row;
       padding: 0 4px;
} */
#img1{
     display:flex;
     flex-direction:row;
     justify-content:space-evenly;
     flex-wrap:wrap;
     padding: 4px 280px;
}
#img2{
      display:flex;
      flex-direction:row;
      justify-content:space-evenly;
      flex-wrap:wrap-reverse;
      padding:4px 280px;
     
}
/* portfolio  home done */
#meimage{
    float:left;
    height:300px;
    width:400px;
    margin:0 10px 0 0;
}
#meimage2{
        float:right;
}
